<div class="container">
    <form class="form" style="display: block;" autocomplete="off">
      <div class="form-container">
        <div class="mat-title" style="text-align: center;">Log In</div>
        <img class="mb-2 img" src="../../../../assets/azul-talavera-hotel-logo.png"> 
        <mat-form-field appearance="standard" color="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="azul_talavera@example.com" >
        </mat-form-field>
        <mat-form-field appearance="standard" color="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput placeholder="Enter your password"  
          [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field><br>
        <button mat-raised-button color="primary" type="submit">Log In</button><br><br><br><br>
      </div>
    </form>
  </div>
