<mat-toolbar>
  <mat-toolbar-row>  
    <div>
      <img mat-button [routerLink]="'/asfhb'" class="mb-2 img" src="../../../../assets/azul-talavera-hotel-logo.png">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="logIn()" style="display: block;" autocomplete="off">
    <div class="form-container">
      <div class="mat-title" style="text-align: center;">Log In</div>
      <mat-form-field appearance="standard" color="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="azul_talavera@example.com" 
        formControlName="email"
        [class.is-invalid]="getEmailValidate()">
      </mat-form-field>
      <mat-form-field appearance="standard" color="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="Enter your password" 
        formControlName="password" 
        [class.is-invalid]="getPasswordValidate()" 
        [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>
      <button mat-raised-button type="submit">Log In</button><br><br><br><br>
    </div>
  </form>
</div>

