*{
    margin: 30px;
}
.container{
    display: flex;
    text-align: center;
}
.title{
    float: left;
    font-size: 6em;
    margin-top: 1em;
    line-height: 100%;
    text-align: center;
}
.text{
    float: left;
    font-size: 2em;
    margin-left: 1em;
    margin-top: 1em;
    text-align: center;
    line-height: 110%
}
.image{
    width: 40em;
    max-width: 100%;
    height: auto;
    display: block;
}
.imagediv{
    margin-top: -1em;
    float: right;
}
.mat-raised-button {
    height: 50px;
    width: 200px;
    margin-left: 1em;
    float: center;
    margin-top: 5em;
    font-size: large;
    color: white;
    background-color: #181155;
    opacity: 0.9;
}