<mat-toolbar>
  <mat-toolbar-row>
      <img mat-button class="mb-2 img" [routerLink]="['/Home']" src="../../../../assets/azul-talavera-hotel-logo.png">
      <button class="logoutbt" (click)="logOut()" mat-stroked-button>Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs dynamicHeight>
  <mat-tab label="Agregar">
    <div class="large-box mat-elevation-z4">
      <div class="container">
        <form class="form" [formGroup]="cEmployeeForm" (ngSubmit)="create()"  style="display: block;" autocomplete="off">
          <div class="form-container">
            <div class="mat-title" style="text-align: center;">Agregar</div>
            <mat-form-field appearance="standard" color="fill">
              <mat-label>Enter the name</mat-label>
              <input matInput 
              formControlName="name"
              [class.is-invalid]="getNameValidate()">
            </mat-form-field>
            <mat-form-field appearance="standard" color="fill">
              <mat-label>Enter the last name</mat-label>
              <input matInput 
              formControlName="last_name" 
              [class.is-invalid]="getLastNameValidate()">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Género</mat-label>
              <mat-select formControlName="gender">
                <mat-option value='1'>Masculino</mat-option>
                <mat-option value='0'>Femenino</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard" color="fill">
              <mat-label>Dirección</mat-label>
              <input matInput
              formControlName="address"
              [class.is-invalid]="getAddressValidate()">
            </mat-form-field>
            <mat-form-field appearance="standard" color="fill">
              <mat-label>Número</mat-label>
              <input matInput type="number"
              formControlName="number" 
              [class.is-invalid]="getNumberValidate()">
            </mat-form-field>
            <mat-form-field appearance="standard" color="fill">
              <mat-label>Área</mat-label>
              <input matInput 
              formControlName="area" 
              [class.is-invalid]="getAreaValidate()">
            </mat-form-field>
            <button mat-raised-button type="submit">Agregar</button><br><br><br><br>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Actualizar">
  </mat-tab>
  <div *ngIf="hideA">
  <mat-tab label="Eliminar">
    <div class="small-box mat-elevation-z4">
    </div>
  </mat-tab>
  </div>
</mat-tab-group>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Género </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef> Área </th>
      <td mat-cell *matCellDef="let element"> {{element.area}} </td>
    </ng-container>
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Número </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>